/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size:16px;
	font-weight: $lightWeight;
    min-width: 320px;
}


/* HEADER  */
div.topbar {
  background-color: black;
  color: white;
  font-size: 1.6rem;
  font-weight: $boldWeight;
  padding: 1rem 2vw;
 
}
div#headerWrapper{
  background-image:url(../images/header-small.jpg);
  background-repeat:no-repeat;
  height:150px;
}

header {
    display: grid;
    grid-template-columns: 51px auto;
    align-items: center;
	padding: .5rem 2vw;
	h1 {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        padding-left: .5rem;
        color: $primaryColor;
    }
} // end header

/* NAVIGATION STUFF GOES HERE  */





















/* MAIN  */

main h1 {
  color: #483F52;
}
main .swiper-wrapper {
  margin-bottom: 25px;
}
main .swiper {
  width: 100%;
  height: auto;
}
main .swiper img {
  width: 100%;
  display: block;
}
main p {
  margin: 0;
  padding: 0.4rem 2vw;
  position: absolute;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  width: 100%;
}
//Cards
div.cards {
  flex-basis: 100%;
}
div.cards-move {
  display: flex;
  flex-wrap: wrap;
}
div.cards {
  width: 100%;
  text-align: center;
}
div.cards div h3 {
  font-size: 1.5rem;
}
div.cards div:nth-child(1) {
  background-image: url("../images/bostonluxury.jpg");
}
div.cards div:nth-child(2) {
  background-image: url("../images/artboston.jpg");
}
div.cards div:nth-child(3) {
  background-image: url("../images/dining.jpg");
}
div.cards div:nth-child(4) {
  background-image: url("../images/taxi.jpg");
}
div.cards div:nth-child(1) a {
  background-color: #e96625;
}
div.cards div:nth-child(2) a {
  background-color: rgb(160, 82, 26);
}
div.cards div:nth-child(3) a {
  background-color: rgb(112, 156, 103);
}
div.cards div:nth-child(4) a {
  background-color: rgb(84, 116, 211);
}
div.cards div a {
  display: block;
  width: 100%;
  height: 300px;
  text-decoration: none;
  padding: 0 2%;
  transition: all 0.5s ease-in;
}
div.cards div a:hover {
  background: none;
  text-shadow: 0 0 4px white;
}




  
 // end main



/* FOOTER  */
#footerWrapper {background-color: #1b1b1b; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: #bbb;
	//text-align: center;
	a{color: #eee;}
}
